/* Desktop view */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

button, input[type='submit'] {
    cursor: pointer;
}

.section-1 {
    background-image: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}


ul li {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    list-style-type: none;
    margin-right: 20px;
}

ul {
     display: flex;
}


.nav-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;
      /* border: 1px solid black; */
}



.email-input {
    letter-spacing: 0.1px;
    color: #18171D;
    padding: 12px 39px;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-right: 10px;
}


.button {
    border: none;
    padding: 12px 38px;
    color: #EF2779;
    background: #FFFFFF;
    
}

.btn {
    border-radius: 35px;
}

.hamburger {
    display: none;
}

.hero {
    display: flex;
}

.hero-content {
    margin-top: 178px;
}

.hero-img  img{
    max-width: 100%;
}

.hero-img-1 img {
    display: none;
}


.hero-content h1 {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    max-width: 500px;
}

.hero-content p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 300px;
    margin-top: 20px;
}

.hero-content button {
    background: #FFFFFF;
    color: #38A3F1;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 35px;
    border: none;
    margin-top: 70px;
}

.section-2 {
    color: #252B42;
    padding: 50px;
}

.article-1 {
    margin: 0 auto;
    text-align: center;
    max-width: 318px;
    max-height: 184px;
}

.article-1 p {
    font-size: 22px;
    margin-top: 27px;
    font-weight: 700;
}

.article-1 .article-1-para {
    font-size: 16px;
}

.article-1 h3 {
    margin-top: 17px;
}

.sub-section-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
   
}

.sub-article-content {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    display: flex;
    text-align: start;
    align-items: flex-start;
}

.sub-article-content p {
    margin-left: 10px;
    max-width: 150px;
}

.sub-section-2 > article {
    width: 255px;
}


.article-para {
    font-size: 18px;
line-height: 27px;
    margin-top: 30px;
} 

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.section-3 h3 {
    font-weight: 400;
    font-size: 46px;
    max-width: 300px;
    text-align: center;
}

.section-3 p {
    margin-top: 27px;
    width: 300px;
    text-align: center;
    
}

.section-3 button, .section-5 button, .section-6 button{
    font-size: 16px;
    margin: 90px;
    background: #38A3F1;
    border-radius: 35px;
    color: #FFFFFF;
    padding: 16px 32px;
    border: none;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.macbook img{
    max-width: 100%;
}

.section-4 {
    display: flex;
    line-height: 33px;
    flex-direction: column;
    align-items: center;
    padding: 81px 0px;
    color: #FFFFFF;
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}

.section-4-para {
    margin-top: 69px;
}

.section-4 form  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.section-4 button {
    background: #EF2779;
    color: #FFFFFF;
    margin-top: 12px;
    padding: 12px 39px;
    border-radius: 39px;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.section-5  {
    display: flex;
    flex-direction: column;
    align-items: center;
      padding-top: 130px;
}

.section-5-article-1, .section-7-p {
    max-width: 320px;
    text-align: center;
}

.section-5-article-1 p, .section-7-p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #374754;
    margin-top: 27px;
}

.client-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
}

.client-section article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 24%;
    text-align: center;
    padding: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 340px;
}

.section-6 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-6 h3, .section-7 h3 {
    font-weight: 400;
    font-size: 46px;
    color: #252B42;
}

.section-6 .dropbox {
    margin-top: 90px;
}

.section-6 .section-6-p, .section-7-p {
    margin-top: 60px;
    width: 683px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.section-6 .profile {
    margin-top: 60px;
    display: flex;
}

.profile img {
    max-width: 80px;
}

.profile-para {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
}

.section-7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px;
    color: #252B42;
}

.cards {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 40px;
    margin-right: 50px;
    max-width: 335px;
    height: 310px;
}

.card h5 {
    font-weight: 700;
    font-size: 22px;
    
}

.price-details {
    line-height: 30px;
}

.price {  
    display: flex;  
}

.price-number {
    font-weight: 900;
    font-size: 55px;
}


sup {
    margin-left: 10px;
}

.section-7 button {
    padding: 12px 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #38A3F1;
    border: 1px solid #38A3F1;
}

.section-7 .card-3 {
    margin: 0;
    color: #FFFFFF;
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}

.section-7 .card-btn-3 {
    color: #EF2779;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: 500;
}

.section-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #252B42;
    color: #FFFFFF;
    padding: 80px;
}

.section-8-article-1 {
    text-align: center;
}

.section-8-article-1 h3 {
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 0.2px;
}


 .section-8-article-1 p  {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2px;
    max-width: 298px;
    margin-top: 27px;
 }

 .section-8 section {
    display: flex;
    margin-top: 50px;
 }

.section-8-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-8 form input {
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    padding: 15.0353px 13.0742px;
    border-radius: 20px;
    margin-top: 31px;
}

.section-8 form textarea {
    background: #F5F5F5;
    border: 0.65371px solid #E8E8E8;
    margin-top: 31px;
    border-radius: 5px;
    padding: 15px;
    
}

.section-8-form button {
    background: #EF2779;
    border-radius: 35px;
    color: #FFFFFF;

}

.section-8-form {
    width: 400.72px;
    background: #FFFFFF;
    padding: 26px 41px;
    border-radius: 13.0742px;
    border: 0.65371px solid #DDDDDD;
}

.section-8-form button {
    margin-top: 31px;
    max-width: 94px;
    padding: 10px 30px;
    border-radius: 35px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.product-info {
    align-self: center;
    margin-left: 50px;
    padding: 20px;
}

.product-info div, .section-9-product-info div {
    display: flex;
    align-content: center;
    margin-bottom: 23px;
}

.product-info p, .section-9-product-info p {
    margin-left: 20px;
    align-self: center;
    max-width: 300px;
}


.product-info .socials, .section-9-product-info .socials {
    margin-top: 75px;
}

.socials img {
      margin-left: 33px;
}

.section-9 {
    display: flex;
    justify-content: space-around;
    padding: 130px;
}

.section-9-page {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.section-9-page p {
    margin-top: 25px;
}

.section-9-img {
    max-width: 100%;
    margin-left: 60px;
}

.section-9-img img {
    max-width: 472px;
}

.section-9-product-info {
    max-width: 100%;
}





/* Mobile view */
@media screen and (max-width: 768px) {
    .nav, .nav-form {
        display: none;
    }

    .hamburger {
        display: block                                                  ;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        text-align: center;
        order: 1;
        margin-top: 117px;
    }

    .hero-content p {
        text-align: center;
        max-width: 300px;
        margin: 20px auto;
    }

    .hero-img-1 img {
        display: block;
        max-width: 100%;
    }

    .hero-img-1 {
        order: 2;
    }

    .hero-img img {
        display: none;
    }



}


