/* Desktop view */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Roboto', sans-serif;
}

.section-1 {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    /* border: 1px solid ; */
}


ul li {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    list-style-type: none;
    margin-right: 20px;
}

ul {
     display: flex;
}


.nav-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;
      /* border: 1px solid black; */
}



.email-input {
    
    letter-spacing: 0.1px;
    color: #18171D;
    padding: 12px 39px;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-right: 10px;
}


.button {
    border: none;
    padding: 12px 38px;
    color: #EF2779;
    background: #FFFFFF;
    border-radius: 35px;
}

.hamburger {
    display: none;
}

.hero {
    display: flex;
}

.hero-content {
    margin-top: 178px;
}



.hero-content h1 {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.hero-content p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 300px;
    margin-top: 20px;
}

.hero-content button {
    background: #FFFFFF;
    color: #38A3F1;
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 35px;
    border: none;
    margin-top: 70px;
}

.section-2 {
    color: #252B42;
    padding: 50px;
}

.article-1 {
    margin: 0 auto;
    text-align: center;
    max-width: 318px;
    max-height: 184px;
}

.article-1 p {
    font-size: 22px;
    margin-top: 27px;
    font-weight: 700;
}

.article-1 .article-1-para {
    font-size: 16px;
}

.article-1 h3 {
    margin-top: 17px;
}

.sub-section-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
   
}

.sub-article-content {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    display: flex;
    text-align: start;
    align-items: flex-start;
    
  
}

.sub-article-content p {
    margin-left: 10px;
    max-width: 150px;
}

.sub-section-2 > article {
    width: 255px;
}


.article-para {
    font-size: 18px;
line-height: 27px;
    margin-top: 30px;
} 




/* Mobile view */
@media screen and (max-width: 768px) {
    .nav, .nav-form {
        display: none;
    }

    .hamburger {
        display: block                                                  ;
    }


}


